<h1>All about <%= @attraction.name %></h1>

<label>Tickets:</label><%= @attraction.tickets %>
<label>Nausea rating:</<label><%= @attraction.nausea_rating %>
<label>Happiness rating:</label><%= @attraction.happiness_rating %>
<label>Minimum height to ride:</label><%= @attraction.min_height %><br><br>

<%= button_to "All Attractions", attractions_path, method:"get" %>

<% if @user && @user.admin %>
  <%= button_to "Edit Ride", attraction_path(@attraction) %><br>
  <%= button_to "Delete Ride", attraction_path(@attraction) %><br>
<% else %>
  <form action="/rides" method="post">
      
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <%= tag(:input, :type => "hidden", :name => :attraction_id, :value => @attraction.id) %>
        <input class="btn btn-light" type="submit" value="Go on this ride">
      </form>

<% end %>
